[Desktop Entry]
Type=Application
Version=1.0
Name=LZX
GenericName=LZX
Comment=LZX
Icon=icon
Terminal=false
Exec=LZX %F
MimeType=text/text;
Categories=Qt;Utility;
